<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d89b01eb-09dc-4c92-94d0-5e842c94e022/resourcegroups/eShop/providers/Microsoft.Web/sites/CatalogAPI20230614150809</ResourceId>
    <ResourceGroup>eShop</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://catalogapi20230614150809.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>42681d9d-750a-4df7-bd9f-9292cfd5c253</ProjectGuid>
    <PublishUrl>https://catalogapi20230614150809.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CatalogAPI20230614150809</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>