<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d89b01eb-09dc-4c92-94d0-5e842c94e022/resourceGroups/eShop/providers/Microsoft.Web/sites/eShopMVC</ResourceId>
    <ResourceGroup>eShop</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://eshopmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f0333d8e-0b27-42b7-b2c6-78f3657624e2</ProjectGuid>
    <PublishUrl>https://eshopmvc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$eShopMVC</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>